body, html {
    font-family: sans-serif;
}

#instructions h1 {
    text-align: center;
}

#instructions p {
    text-align: center;
}

#regions_div {

}

#visualization {

}

.vis-item .vis-item-overflow {
    overflow: visible;
}