body, html {
    font-family: sans-serif;
}

body {
    width: 90%;
    height: 70%;
    padding: 10px;
    border: solid;
    border-radius: 8px;
}

#regions_div {
    width: 100%;
    height: 80%;
    border: none;

}

#visualization {
    width: 100%;
    height: 20%;
}